go 1.23

use (
	./tools
	"./Elite (C64)/extract"
	"./Fort Apocalypse (C64)/extract"
	"./Marble Madness (Amiga)/extract"
	"./Mario Kart DS (DS)/extract"
	"./Sonic (GG)/extract"
	"./Stunt Car Racer (Amiga)/extract"
	"./Super Mario Land (GB)/extract"
	"./Turrican (Amiga)/extract"
)
