go 1.23

use (
	./tools
	./games/burnout-legends-psp/extract
	./games/elite-c64/extract
	./games/fort-apocalypse-c64/extract
	./games/marble-madness-amiga/extract
	./games/jak-and-daxter-ps2/extract
	./games/loco-roco-psp/extract
	./games/luigis-mansion-gc/extract
	./games/mario-kart-ds/extract
	./games/need-for-speed-3do/extract
	./games/pilotwings-64-n64/extract
	./games/ridge-racer-psx/extract
	./games/sonic-gg/extract
	./games/stunt-car-racer-amiga/extract
	./games/super-mario-3d-land-3ds/extract
	./games/super-mario-64-ds/extract
	./games/super-mario-land-gb/extract
	./games/turrican-amiga/extract
	./games/ultima-underworld-pc/extract
)
